@import "../../../Style.less";

.logo-position {
	width: 110%;
	display: flex;
	justify-content: center;
	align-items: center;

	.logo {
		height: 40px;
		margin: 9px 0px 9px 9px;
	}
	.logo-collapsed {
		height: 30px;
		margin: 9px 0px 9px -9px;
	}
	.ant-divider.ant-divider-vertical {
		height: 40px;
	}
}

.ant-menu-submenu > .ant-menu {
	background-color: @background-gray;
	color: @major-text;
}
.ant-menu-submenu.ant-menu-submenu-inline.ant-menu-submenu-open {
	background-color: @background-gray;
	border-radius: 5px;
}
.ant-menu.ant-menu-light.ant-menu-root.ant-menu-inline {
	color: @major-text;
	border-right: 0px;
	.ant-menu-item a {
		color: @major-text;
		border-right: 0px;
	}
	.ant-menu-item.ant-menu-item-selected a {
		color: #fff;
	}
	.ant-menu-item.ant-menu-item-selected {
		background-color: @highlight-blue;
		border-radius: 3px;
		.ant-menu-item-icon {
			color: #fff;
		}
	}
	.ant-menu-item {
		.ant-menu-item-icon {
			color: @major-text;
		}
	}
}
.ant-menu.ant-menu-sub.ant-menu-inline {
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}
.ant-layout.ant-layout-has-sider {
	min-width: 230px;
	.ant-layout-sider-light {
		// .ant-layout-sider-children {
		// 	min-width: 230px;
		// }
		.ant-layout-sider-trigger {
			background: #f2f4f8;
			// min-width: 230px;
		}
	}
}
