@import "../../../Style.less";
@import "../style.less";

.realtime-statistic-page {
	.page-search {
		min-width: 450px;
		width: 450px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin-top: 1%;
		.cascader-with-button {
			width: 400px;
			.ant-cascader-picker.ant-cascader-picker-middle.ant-cascader-picker-show-search {
				width: 77%;
				border-radius: 5px 0 0 5px;
			}
			.ant-btn.ant-btn-primary {
				width: 88px;
			}
		}
	}
	.realtime-statistic-video-and-graph {
		display: flex;
		flex-direction: row;
		flex-flow: row wrap;
		align-items: center;
		justify-content: space-between;
		margin-top: 1%;
		margin-bottom: 1%;
		.video-container {
			width: 56%;
			min-width: 610px;
		}
		.realtime-statistic-graph {
			width: 43.6%;
			min-width: 550px;
		}
	}
}
