@import "../../../Style.less";

.search-area {
	min-height: 180px;
	display: flex;
	flex-direction: column;
	// justify-content: space-between;
	.search-area-body {
		min-height: 180px;
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		justify-content: space-between;
		margin-bottom: 1%;
		.ant-typography {
		}
		.search-area-input-button {
			display: flex;
			flex-direction: column;
			.ant-btn {
				// height: 40px;
			}
			// .ant-btn > span {
			// 	color: @major-text;
			// }
		}
		.search-area-input {
			min-width: 500px;
			// width: 700px;
			display: flex;
			flex-direction: column;
			align-items: flex-start;

			.ant-cascader-picker {
				width: 80%;
				margin-bottom: 2%;
			}
			.ant-picker {
				width: 80%;
				margin-bottom: 2%;
			}
			.search-area-switch {
				width: 80%;
				display: flex;
				flex-direction: row;
				margin-bottom: 2%;
				.ant-space-align-center {
					width: 50%;
				}
				// .ant-switch {
				// 	color: @major-text;
				// }
				// .ant-switch.ant-switch-check {
				// 	background-color: @highlight-blue;
				// }
			}
			.ant-select.ant-select-single.ant-select-show-arrow {
				width: 80%;
				margin-bottom: 2%;
			}
		}
	}
}
