.video-container {
	width: 50%;
	min-width: 540px;
	height: 730px;
	// min-height: 500px;
	margin-bottom: 1%;
	// margin-top: 1%;
	.video-container-streamming {
		.ant-card.ant-card-bordered {
			width: 99.5%;
			min-width: 540px;
			height: 70%;
			min-height: 500px;
			.ant-card-body {
				padding: 0px;
			}
		}
	}
	.video-container-graph {
		width: 99.6%;
		margin-top: 1%;
		// display: flex;
		// justify-self: center;
	}
}
